name: android-build-apk
on:
  push:
    branches:
      - master
jobs:
  install-mobile:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: mobileApp

    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm install

  build-android:
    needs: install-mobile
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: mobileApp

    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm install
      - name: Build Android Release
        run: |
          cd android && ./gradlew bundleRelease --warning-mode=all

      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.aab
          path: mobileApp/android/app/build/outputs/bundle/release/

  upload-android-to-s3:
    needs: build-android
    runs-on: ubuntu-latest
    steps:
      - uses: shallwefootball/s3-upload-action@master
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          source_dir: "mobileApp/android/app/build/outputs/bundle/release/"
